/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select,
label {
    display: block;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Global */
:root {
    --color-primary-purple: hsl(259, 100%, 65%);
    --color-primary-light-pink: hsl(0, 100%, 67%);

    --color-neutral-white: hsl(0, 0%, 100%);
    --color-neutral-offwhite: hsl(0, 0%, 94%);
    --color-neutral-light-grey: hsl(0, 0%, 86%);
    --color-neutral-smokey-grey: hsl(0, 1%, 44%);
    --color-neutral-offblack: hsl(0, 0%, 8%);


    --font-face-default: "Poppins", sans-serif;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 700;
    --font-weight-bold: 800;

    --font-size-date-picker: 0.5rem;
    --font-size-date: 0.5rem;
    --font-size-date-display: 2rem;
}

/* Styles */
body {
    background-color: var(--color-neutral-offwhite);
    color: var(--color-neutral-offblack);
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

main{
    background-color: var(--color-neutral-white);
    margin:4rem 1rem;
    padding:2rem 1rem;
    border-radius: 20px 20px 70px 20px;
   

}


.date{
    padding: 1rem 1rem 4rem 1rem;
    border-bottom: 1px solid var(--color-neutral-offwhite);

}

.dmy{
    display:flex;
    justify-content: space-between;
}

.dmy > p{
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-neutral-smokey-grey);
    letter-spacing: .2rem;
    text-transform:uppercase;
 
}
.date-picker{
    display:flex;
    justify-content: space-between;
}

input{
    /* height:3rem;
    width: 6rem; */
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;

    border:1px solid var(--color-neutral-light-grey)
}








.icon{
    /* width: 60px;
    /* height:60px;  precentage!! */
    background-color: var(--color-primary-purple);
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.img{
 background-color: var(--color-primary-purple);
 width: 50%;
}

.date-display{
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
}

.date-display > span{
    color: var(--color-primary-purple);
}

.date-display > p{

}

